<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feel the force | About us</title>
    <meta name="author" content="Mariana Roldan Velez | Morgan Bourdillel">
    <meta name="description" content="A small coded application during a 24h hackathon">
    <meta name="keywords" content="love, yoda, star wars">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="logo-title">
        <a href="/"><div class="logo"></div></a>
        <h1>feel the force</h1>
    </div>
</header>
<section class="dev">
        <div class="grid-container-card">
            <div class="title">
                <h2>Mariana Roldan Velez</h2>
            </div>
            <div class="email">
                <a href="mailto:mroldan747@gmail.com">mroldan747@gmail.com</a>
            </div>
            <div class="description">
                <p>
                    Ce projet a été un super challenge à faire en 24h, plein de créativité et des solutions à trouver
                    dans un temps court! On a surtout approfondi et mise en oeuvre nos connaissances en Java avec spring
                    jdbc et mysql. En ajoutant une touche de front end très intéressante.
                </p>
            </div>
        </div>
        <div class="grid-container-card">
            <div class="title">
                <h2>Morgan Bourdillel</h2>
            </div>
            <div class="email">
                <a href="mailto:morgan.bourdillel@gmail.com">morgan.bourdillel@gmail.com</a>
            </div>
            <div class="description">
                <p>
                    Jeune padawan du maître Java Bastien.
                    <br>
                    <br>
                    Ce Hackathon m'a permis d'approffondir mes connaissances sur les bases de données MYSQL,
                    ainsi que sur Spring JDBC. Côté Front-end,
                    nous avons utilisé Grid pour son côté responsive design simple à mettre en place.
                </p>
            </div>
        </div>
</section>
</body>
</html>