<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feel the force</title>
    <meta name="author" content="Mariana Roldan Velez | Morgan Bourdillel">
    <meta name="description" content="A small coded application during a 24h hackathon">
    <meta name="keywords" content="love, yoda, star wars">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">

            </div>
            <h1>feel the force</h1>
        </div>
        <div class="link">
            <a href="/about-us"><i class="far fa-question-circle"></i></a>
        </div>
    </header>
    <form action="/match" method="post" th:object="${perso1}">
        <div class="grid-container">
            <div class="left">
                <div class="image-left">
                    <div >
                        <input class="perso" th:field="*{name}"  name="name" readonly></input>
                        <input class="perso"th:field="*{planet}" name="planet" readonly></input>
                        <input class="perso"th:field="*{gender}" name="gender" readonly></input>
                        <input class="perso"th:field="*{hairColor}" name="planet" readonly></input>
                        <input class="perso"th:field="*{height}" name="planet" readonly></input>
                        <input class="perso"th:field="*{eyeColor}" name="planet" readonly></input>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="grid-container-middle">
                    <div class="middle-top-left select_box">
                        <select name="planetId" id="planet-select" >
                            <option value="0">Planet</option>
                            <option value="" th:each="planet: ${planets}" th:text="${planet.name}" th:value="${planet.id}">selection1</option>
                        </select>
                    </div>
                    <div class="middle-top-right select_box">
                        <select name="genders" id="gender-select">
                            <option value="%">Gender</option>
                            <option value="" th:each="gender: ${genders}" th:text="${gender}" th:value="${gender}">selection1</option>
                        </select>
                    </div>
                    <div class="middle-middle-left select_box">
                        <select name="eyeColors" id="eyes-select">
                            <option value="%">Eyes</option>
                            <option value="" th:each="eye: ${eyes}" th:text="${eye}" th:value="${eye}">selection1</option>
                        </select>
                    </div>
                    <div class="middle-middle-right select_box">
                        <select name="hairColors" id="hair-select">
                            <option value="%">Hair</option>
                            <option value="" th:each="hair: ${hairColors}" th:text="${hair}" th:value="${hair}">selection1</option>
                        </select>
                    </div>
                    <div class="middle-bottom">
                        <input type="submit" value="let the force decide">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="image-right">
                    <div>
                        <p class="perso" th:text="${perso2.name}">name</p>
                        <p class="perso" th:text="${perso2.planet}">planet</p>
                        <p class="perso" th:text="${perso2.gender}">planet</p>
                        <p class="perso" th:text="${perso2.hairColor}">planet</p>
                        <p class="perso" th:text="${perso2.height}" th:if="${perso2.height} &gt; 0">planet</p>
                        <p class="perso" th:text="${perso2.eyeColor}">planet</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="lightsaber">

    </div>
</body>
</html>