<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feel the force | The beginning</title>
    <meta content="Mariana Roldan Velez | Morgan Bourdillel" name="author">
    <meta content="A small coded application during a 24h hackathon" name="description">
    <meta content="love, yoda, star wars" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/68562b10c3.js"></script>
</head>
<body id="body-anim">
    <audio src="sound/star_wars_openning.mp3" autoplay="true"></audio>
    <a href="/"><i class="fas fa-jedi"></i></a>
    <div class="fade"></div>
    <section class="star-wars-anim">
        <div class="anim">
            <div class="title-anim">
                <p>episode i</p>
                <h1>feel the force</h1>
            </div>
            <p>Nous vivons une époque de paix, les rebelles ayant remportés l'ultime bataille face à l'empire, l'ordre jédi renaît doucement de ses cendres.</p>
            <p>Le nouveau conseil jédi vous a chargé d'une mission des plus importante : ramener l'amour dans la galaxie</p>
            <p>Yoda, le célèbre maître jedi, vous accompagnera, alors laissez vous guider et appuyez sur le symbole de l'ordre jédi ...</p>
        </div>
    </section>
</body>
</html>