@font-face {
    font-family: 'StarJedi';
    src: url('../Star_Jedi_V2/Star_Jedi_V2.woff') format('woff'),
    url('../Star_Jedi_V2/Star_Jedi_V2.woff2') format('woff2'),
    url('../Star_Jedi_V2/Star_Jedi_V2.ttf') format("truetype");
}
html {
    margin: 0;
    padding: 5px;
}

body {
    background-image: url("../images/stars.jpg");
    margin: 0;
    padding: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem 0.7rem 2rem 0.7rem;
}

option {
    color: #000;
}

.logo {
    background: url("../images/yoda.png") no-repeat;
    background-size: contain;
    width: 6vw;
    height: 6vw;
}

.link a {
    color: #CBEDA0;
    font-size: 1.5rem;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title h1 {
    font-family: 'StarJedi', serif;
    letter-spacing: 0.2rem;
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
}

.image-left, .image-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #CBEDA0 solid 2px;
    border-radius: 15px;
}

.image-left div, .image-right div {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    margin: 0.2rem 0;
    font-family: 'Roboto', serif;
}

.image-left div input, .image-right div p {
    width: 50%;
    margin: 0;
    margin-left: 0.2rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: 'Roboto', serif;
}

.perso {
    color: white;
    background-color: transparent;
    border-style: none;
}

label {
    color: #f5f923;
    font-size: 0.7rem;
    padding-left: 10px;
    font-family: 'StarJedi', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "left middle right";
}

.middle {
    grid-area: middle;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.grid-container-middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 1px 1px;
    grid-template-areas:
            "middle-top-left middle-top-right"
            "middle-middle-left middle-middle-right"
            "middle-bottom middle-bottom";
}

.middle-top-left {
    grid-area: middle-top-left;
}

.middle-top-right {
    grid-area: middle-top-right;
}

.middle-bottom {
    grid-area: middle-bottom;
}

.middle-middle-left {
    grid-area: middle-middle-left;
}

.middle-middle-right {
    grid-area: middle-middle-right;
    /*! width: 100px; */
}

#gender-select {
    width: 120%;
}

/* SELECT */
.select_box {
    align-self: end;
    width: 105px;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    margin: auto;
}

.middle-top-right, .middle-top-left, .middle-middle-left, .middle-middle-right {
    text-align: center;
}

.middle-top-right {
    width: 90px;
}
.middle-middle-right {
    width: 85px;
}
.middle-middle-right select {
    text-align: left;
}
.select_box:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    position: absolute;
    top: 40%;
    right: 1px;
    content: "";
    z-index: 98;
}

.select_box select {
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
    color: white;
    font-size: 1rem;
    padding: 0 0.5rem;
}

.middle-bottom {
    margin: auto;
}

.middle-bottom input {
    padding: 0.5rem;
    color: black;
    background-color: #CBEDA0;
    border: 2px solid #2EFF29;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: -3px -3px 2px 1px rgba(103, 255, 100, 0.8), 3px 3px 2px 1px rgba(103, 255, 100, 0.8), 3px -3px 2px 1px rgba(103, 255, 100, 0.8), -3px 3px 2px 1px rgba(103, 255, 100, 0.8);
    border-radius: 5px;
    font-family: 'StarJedi', serif;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}
.saber {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 6fr;
    justify-items: center;
    align-items: center;
}
#handle {
    grid-column: 1 / 4;
    grid-row: 1/2;
    height: 2rem;
    width: 20vw;
    background-color: gray;
    z-index: 10;
    align-self: end;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-right: 5vw;
    padding-left: 10vh;
    font-family: 'StarJedi' ,serif;
    letter-spacing: 0.1rem;
    position: relative;
}
.red {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: red;
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 50000;
}

.lightsaber {
    grid-column: 2 / 6;
    grid-row: 1/2;
    align-self: center;
    box-sizing: border-box;
    width: 70vw;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 1.5rem;
    position: relative;
    color: black;
}

.lightsaber::before {
    height: 2rem;
    box-sizing: border-box;
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 5vw;
    top: 0.5em;
    bottom: 0.5em;
    width: calc(var(--width, 0) * 5%);
    min-width: 0;
    max-width: calc(100% - 1em);
    background-color: #CBEDA0;
    border: 0.5rem solid #2EFF29;
    border-radius: 1em;
}
/*--  ABOUT US  --*/
.dev {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
}
.grid-container-card {
    width: 40%;
    height: 50vh;
    background-color: rgba(50, 50, 50, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    gap: 1px 1px;
    grid-template-areas: "title" "email" "description";
    border-radius: 15px;
    padding: 2px 10px;
}
.grid-container-card:hover {
    border: 2px solid #CBEDA0;
    padding: 0 8px;
}
.title {
    grid-area: title;
    color: #f5f923;
    font-family: 'StarJedi', serif;
    font-size: 0.8rem;
    margin: auto;
}

.email {
    grid-area: email;
    margin: auto;
}

.email a {
    text-decoration: none;
    color: lightgray;
}
.email a:hover {
    text-decoration: underline;
}
.description {
    grid-area: description;
    text-align: center;
    font-size: 0.8rem;
    color: lightgray;
}

@media only screen and (max-width: 660px) {
    .logo-title {
        flex-direction: column;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "left" "middle" "right";
    }
    header {
        justify-content: center;
    }
    .logo {
        width: 20vw;
        height: 20vw;
    }
    h1{
        font-size: 5rem;
    }
    .link a {
        position: absolute;
        top: 2vh;
        right: 2vh;
        font-size: 2rem;
    }
    .dev {
        flex-direction: column;
        align-content: space-around;
        height: 60vh;
    }
    .grid-container-card {
        width: 80%;
        height: 25vh;
    }
    .saber, .lightsaber, .red, #handle {

        display: none;
    }
}